<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://github.com/bherila/restic-station/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>gKEi0eTi3htvx7oWlVZR5d2D6Zxl+NSrZULRshMJH+s=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
</dict>
</plist>
